body {
    background: #191919;
    min-height: 100lvh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.border {
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, rgb(231, 15, 170), rgb(19, 176, 245));
}

.container {
    max-width: 1286px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    padding: 15px 0;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo > img {
    aspect-ratio: 75/51;
    width: 100px;
}

.header__search {
    position: relative;
    width: 350px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__search input {
    width: 100%;
    font-size: 1rem;
    padding: 8px 12px;
    border-radius: 25px;
    outline: none;
    transition: all 0.30s ease-in-out;
    border: 1px solid #DDDDDD;
}

.header__search .search__img {
    color: black;
    position: absolute;
    cursor: pointer;
    top: 25%;
    right: 11%;
    width: 16px;
    height: 16px;
    transition: 0.3s ease;
    border-radius: 50%;
}

.header__search .search__img img {
    width: 100%;
}

.header__search .search__img:hover {
    opacity: 0.7;
}

.header__search input:focus {
    box-shadow: 0 0 40px rgb(19, 176, 245);
}

.resetInput {
    width: 24px;
    height: 24px;
    position: relative;
    cursor: pointer;
}

.resetInput:after,
.resetInput:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, rgb(231, 15, 170), rgb(19, 176, 245));
}

.resetInput:after {
    transform: rotate(45deg);
}

.resetInput:before {
    transform: rotate(-45deg);

}

.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.error {
    text-align: center;
    font-size: 46px;
    color: rgb(231, 15, 170);
}

.img {
    width: 380px;
    height: 214px;
    margin-top: 15px;
    background-position: center;
    background-size: cover;
    border-radius: 2px;
    cursor: pointer;
}


.footer {
    margin-top: auto;
    height: 80px;
}


.logo {
    width: 75px;
    height: 51px;
}

.date {
    color: white;
    font-size: 24px;
}

.school > img {
    height: 51px;
}

.loader {
    max-width: 300px;
    width: 100%;
    aspect-ratio: 1;
    display: grid;
    border: 4px solid #0000;
    border-radius: 50%;
    border-right-color: rgb(231, 15, 170);
    animation: l15 1s infinite linear;
}

.loader::before,
.loader::after {
    content: "";
    grid-area: 1/1;
    margin: 2px;
    border: inherit;
    border-radius: 50%;
    animation: l15 2s infinite;
}

.loader::after {
    margin: 8px;
    animation-duration: 3s;
}

@keyframes l15 {
    100% {
        transform: rotate(1turn)
    }
}
